@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-half">
            <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                <h4 class="w3-center">Member 1</h4>
                <p class="w3-center"><img src="~/Content/IMAGE/member1.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                <hr>
                <p><i class="fa fa-meh-o fa-fw w3-margin-right w3-text-theme"></i> 林佑恩</p>
                <p><i class="fa fa-meh-o fa-fw w3-margin-right w3-text-theme"></i> 四子三丙</p>
                <p><i class="fa fa-meh-o fa-fw w3-margin-right w3-text-theme"></i> 1103105336</p>
            </div>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-half">

            <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                <h4 class="w3-center">Member 2</h4>
                <p class="w3-center"><img src="~/Content/IMAGE/member2.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                <hr>
                <p><i class="fa fa-meh-o fa-fw w3-margin-right w3-text-theme"></i> 連育輝</p>
                <p><i class="fa fa-meh-o fa-fw w3-margin-right w3-text-theme"></i> 四子三丙</p>
                <p><i class="fa fa-meh-o fa-fw w3-margin-right w3-text-theme"></i> 1103105323</p>
            </div>
            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>